@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #424694;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  font-family: Poppins;
  font-weight: 600;
}
#container #navbar {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: left 0.5s;
}
#container #navbar #back {
  font-family: 'Poppins';
  font-size: 20px;
  color: rgba(250, 226, 184, 0.75);
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.5s;
}
#container #navbar #back span {
  font-size: 0px;
  transition: all 0.5s;
}
#container #navbar #scaffold {
  font-size: 28px;
  color: #FAE2B8;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #navbar #scaffold:hover {
  opacity: 1;
}
#container #navbar .link {
  color: rgba(250, 226, 184, 0.75);
  text-decoration: none;
  opacity: 0.5;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #navbar .link:hover {
  opacity: 1;
}
#container #navbar #currentLink {
  opacity: 0.8;
}
#container #navbar #currentLink:hover {
  opacity: 1;
}
#container #navbar:hover {
  left: 120px;
}
#container #navbar:hover #back {
  opacity: 0.7;
  color: #DFE0F2;
}
#container #navbar:hover #back span {
  font-size: 20px;
  color: #DFE0F2;
}
#container #navbar:hover #back:hover {
  opacity: 1;
}
#container #top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
#container #top #heading {
  font-size: 100px;
  color: #DFE0F2;
  font-family: 'Poppins';
}
#container #bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#container #bottom #left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 25px;
}
#container #bottom #right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 25px;
}
#container #bottom div .textbox {
  font-family: 'Poppins';
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #FAE2B8;
  width: 430px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 25px;
  background-color: rgba(39, 41, 100, 0.5);
  border: none;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.5);
  border-radius: 5px;
  transition: opacity 0.3s;
}
#container #bottom div .textbox::placeholder {
  color: rgba(223, 224, 242, 0.5);
  transition: color 0.3s;
}
#container #bottom div .textbox:hover {
  opacity: 1;
}
#container #bottom div .textbox:focus {
  outline: none;
  opacity: 1;
}
#container #bottom div .textbox:focus::placeholder {
  color: rgba(250, 226, 184, 0.5);
}
#container #bottom div .date {
  font-family: 'Poppins';
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #FAE2B8;
  width: 430px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 25px;
  background-color: rgba(39, 41, 100, 0.5);
  border: none;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.5);
  border-radius: 5px;
  text-align: left;
  transition: opacity 0.3s;
}
#container #bottom div .date::placeholder {
  color: rgba(223, 224, 242, 0.5);
  transition: color 0.3s;
}
#container #bottom div .date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
#container #bottom div .date:hover {
  opacity: 1;
}
#container #bottom div .date:focus {
  outline: none;
  opacity: 1;
}
#container #bottom div .date:focus::placeholder {
  color: rgba(250, 226, 184, 0.5);
}
#container #bottom div .label {
  font-family: 'Poppins';
  color: #DFE0F2;
  margin-left: 10px;
  opacity: 0.5;
}

#container #bottom div #button {
  font-size: 25px;
  font-family: 'Poppins';
  height: 65px;
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(250, 226, 184, 0.5);
  color: #DFE0F2;
  border: none;
  box-shadow: 0px 0px 50px rgba(250, 226, 184, 0.25);
  transition: background-color 0.3s, box-shadow 0.3s;
}
#container #bottom div #button:hover {
  background-color: rgba(250, 226, 184, 0.75);
  box-shadow: 0px 0px 50px rgba(250, 226, 184, 0.5);
}
#container #bottom div #button:focus {
  outline: none;
  background-color: rgba(250, 226, 184, 0.75);
  box-shadow: 0px 0px 50px rgba(250, 226, 184, 0.5);
}


@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1024px) {
    html, body {
        height: auto;
    }
    
    #container {
        justify-content: flex-start;
        padding-top: 150px;
        padding-bottom: 200px;
    }
    
    #container #top #heading {
        font-size: 50px;
    }
    
    #container #bottom {
        flex-direction: column;
    }
    
    #container #bottom #left {
        margin: 0px;
    }
    
    #container #bottom #right {
        margin: 0px;
        margin-top: -10px;
    }
    
    #container #bottom #left #button {
        position: absolute;
        margin-top: 450px;
    }
}

@media only screen and (max-width: 640px) {
    #container #top {
        padding-top: 250px;
    }
}