@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #424694;
}
a {
  font-family: Poppins;
  font-weight: 600;
}
#container {
  width: 100%;
  background-color: #424694;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 500px;
}
#container #top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#container #top #heading {
  font-size: 80px;
  color: #dfe0f2;
  font-family: "Poppins";
}
#container #top #actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
}
#container #top #actions a {
  text-decoration: none;
  font-size: 17px;
  color: rgba(250, 226, 184, 0.75);
  transition: color 0.3s, text-shadow 0.3s;
}
#container #top #actions a:hover {
  color: #fae2b8;
  text-shadow: 0px 0px 50px rgba(250, 226, 184, 0.75);
}
#container #search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
}
#container #search .textbox {
  font-family: "Poppins";
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: #fae2b8;
  width: 200px;
  height: 40px;
  background-color: rgba(39, 41, 100, 0.5);
  border: none;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.5);
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  transition: all 0.3s;
}
#container #search .textbox::placeholder {
  color: rgba(223, 224, 242, 0.5);
  font-weight: 600;
  font-size: 20px;
  opacity: 0.5;
  transition: color 0.3s, opacity 0.3s;
}
#container #search .textbox:hover {
  opacity: 1;
}
#container #search .textbox:hover::placeholder {
  opacity: 0.7;
}
#container #search .textbox:focus {
  outline: none;
  opacity: 1;
}
#container #search .textbox:focus::placeholder {
  color: rgba(250, 226, 184, 0.5);
}
#container #search .button {
  margin-left: 10px;
  text-decoration: none;
  color: #dfe0f2;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  background-color: rgba(250, 226, 184, 0.75);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  border: none;
  opacity: 0.8;
  box-shadow: 0px 0px 50px rgba(250, 226, 184, 0.5);
  transition: all 0.5s;
}
#container #search .button:hover {
  opacity: 1;
}
#container #search .button:focus {
  outline: none;
}
#container #search #refresh-button {
  background-color: rgba(39, 41, 100, 0.5);
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.5);
}
#container #search .dropdown {
  font-family: "Poppins";
  appearance: none;
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
  color: #fae2b8;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  background-color: rgba(39, 41, 100, 0.5);
  border: none;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.5);
  border-radius: 5px;
  text-align: left;
  transition: all 0.3s;
}
#container #search .dropdown:hover {
  opacity: 1;
}
#container #search .dropdown:focus {
  outline: none;
  opacity: 1;
}
#container #search .dropdown option {
  opacity: 0.5;
  font-size: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fae2b8;
  font-weight: 500;
  background-color: rgba(39, 41, 100, 0.75);
}
#container #search .dropdownLabel {
  font-family: "Poppins";
  color: #fae2b8;
  position: absolute;
  margin-left: -440px;
  margin-top: 80px;
  opacity: 0;
  font-weight: 500;
  transition: opacity 0.3s;
}
#container #search .dropdown:hover ~ .dropdownLabel {
  opacity: 0.5;
}
#container #search:hover .textbox {
  width: 220px;
}
#container #classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container #classes .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}
#container #classes .details .top-details .id {
  font-size: 15px;
  color: rgba(223, 224, 242, 0.5);
  margin-right: 5px;
}
#container #classes .details .top-details .tutor {
  color: rgba(250, 226, 184, 0.5);
  font-weight: 400;
}
#container #classes .details .type {
  color: rgba(250, 226, 184, 0.5);
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}
#container #classes .details .name {
  color: #fae2b8;
  font-size: 38px;
  line-height: 38px;
}
#container #classes .programme .details .name {
  font-size: 32px;
  line-height: 32px;
}
#container #classes .course .details .name {
  font-size: 26px;
  line-height: 26px;
}
#container #classes .class .details .name {
  font-size: 22px;
  line-height: 22px;
}
#container #classes .details .description {
  margin-top: 0px;
  color: #dfe0f2;
  font-weight: 400;
  font-size: 16px;
}
#container #classes .institution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343775;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  padding: 30px 50px 30px 50px;
  margin: 10px;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
#container #classes .institution .institution-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
}
#container #classes .institution .institution-details .icon {
  width: 100px;
  height: 100px;
}
#container #classes .institution .seeProgrammes {
  height: 0px;
  width: 0px;
}
#container #classes .institution .seeProgrammesLabel {
  font-family: "Poppins";
  font-weight: 400;
  color: #dfe0f2;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(250, 226, 184, 0.25);
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  border-radius: 5px;
  margin-top: -20px;
  margin-bottom: 10px;
  transition: background-color 0.5s;
}
#container #classes .institution .seeProgrammes:hover + .seeProgrammesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .institution .seeProgrammes:checked + .seeProgrammesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .institution .programmes {
  display: none;
}
#container #classes .institution:hover {
  opacity: 1;
}
#container #classes .programme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343775;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  padding: 30px 50px 30px 50px;
  margin: 10px;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
#container #classes .programme .programme-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
}
#container #classes .programme .programme-details .icon {
  width: 100px;
  height: 100px;
}
#container #classes .programme .seeCourses {
  height: 0px;
  width: 0px;
}
#container #classes .programme .seeCoursesLabel {
  font-family: "Poppins";
  font-weight: 400;
  color: #dfe0f2;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(250, 226, 184, 0.25);
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  border-radius: 5px;
  margin-top: -20px;
  margin-bottom: 10px;
  transition: background-color 0.5s;
}
#container #classes .programme .seeCourses:hover + .seeCoursesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .programme .seeCourses:checked + .seeCoursesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .programme .courses {
  display: none;
}
#container #classes .programme:hover {
  opacity: 1;
}
#container #classes .course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343775;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  padding: 30px 50px 30px 50px;
  margin: 10px;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
#container #classes .course .course-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
}
#container #classes .course .course-details .icon {
  width: 100px;
  height: 100px;
}
#container #classes .course .seeClasses {
  height: 0px;
  width: 0px;
}
#container #classes .course .seeClassesLabel {
  font-family: "Poppins";
  font-weight: 400;
  color: #dfe0f2;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(250, 226, 184, 0.25);
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  border-radius: 5px;
  margin-top: -20px;
  margin-bottom: 10px;
  transition: background-color 0.5s;
}
#container #classes .course .seeClasses:hover + .seeClassesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .course .seeClasses:checked + .seeClassesLabel {
  background-color: rgba(250, 226, 184, 0.5);
}
#container #classes .course .classes {
  display: none;
}
#container #classes .course:hover {
  opacity: 1;
}
#container #classes .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#container #classes .class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px 30px 20px 30px;
  margin: 10px;
  background-color: #343775;
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
#container #classes .class .icon {
  width: 75px;
  height: 75px;
}
#container #classes .class:hover {
  opacity: 1;
}
#container #classes #orange {
  background-color: rgba(255, 209, 82, 0.25);
}
#container #classes #green {
  background-color: rgba(142, 214, 90, 0.25);
}
#container #classes .institution .programme,
#container #classes .institution .programme .course .class {
  background-color: #424694;
}

@media only screen and (max-width: 1366px) {
    #container #classes .row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1024px) {
    #container #top #heading {
        font-size: 60px;
    }
    
    #container #classes .details .description {
        font-size: 14px;
    }
    
    #container #classes .institution .details .name {
        font-size: 33px;
        line-height: 33px;
    }
    
    #container #classes .programme .details .name {
        font-size: 27px;
        line-height: 27px;
    }
    
    #container #classes .course .details .name {
        font-size: 21px;
        line-height: 21px;
    }
    
    #container #classes .class .details .name {
        font-size: 17px;
        line-height: 17px;
    }
    
    #container #classes .institution,
    #container #classes .programme,
    #container #classes .course {
        padding: 10px 30px 10px 30px;
    }
    
    #container #classes .class {
        padding: 5px 15px 5px 15px;
    }
    
    #container #classes .class .details .description {
        font-size: 0px;
    }
    
    #container #classes .institution .institution-details .icon,
    #container #classes .programme .programme-details .icon,
    #container #classes .course .course-details .icon {
        width: 70px;
        height: 70px;
    }
    
    #container #classes .class .icon {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 640px) {
    #container #top {
        flex-direction: column;
        padding-top: 250px;
    }
    
    #container #search {
        flex-direction: column;
    }
    
    #container #search .dropdown {
        margin: 0px;
        margin-bottom: 10px;
    }
    
    #container #search .dropdownLabel {
        margin: 0px;
        margin-top: -100px;
    } 
    
    #container #search .textbox {
        margin: 0px;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    #container #search .button {
        margin: 0px;
        margin-bottom: 10px;
    }
}