@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #424694;
  scroll-behavior: smooth;
}

a {
  font-family: "Poppins";
  font-weight: 600;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
  padding-bottom: 150px;
}
#container #navbar {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: left 0.5s;
}
#container #navbar #back {
  font-family: "Poppins";
  font-size: 20px;
  color: rgba(250, 226, 184, 0.75);
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.5s;
}
#container #navbar #back span {
  font-size: 0px;
  transition: all 0.5s;
}
#container #navbar #scaffold {
  font-size: 28px;
  color: #fae2b8;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #navbar #scaffold:hover {
  opacity: 1;
}
#container #navbar .link {
  color: rgba(250, 226, 184, 0.75);
  text-decoration: none;
  opacity: 0.5;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #navbar .link:hover {
  opacity: 1;
}
#container #navbar #currentLink {
  opacity: 0.8;
}
#container #navbar #currentLink:hover {
  opacity: 1;
}
#container #navbar:hover {
  left: 120px;
}
#container #navbar:hover #back {
  opacity: 0.7;
  color: #dfe0f2;
}
#container #navbar:hover #back span {
  font-size: 20px;
  color: #dfe0f2;
}
#container #back:hover {
  opacity: 1;
}
#container #header {
  font-size: 50px;
  color: #dfe0f2;
  margin-bottom: 50px;
}
#container #rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container #rows .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: all 0.5s;
}
#container #rows .row .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 226, 184, 0.75);
  box-shadow: 0px 0px 50px rgba(39, 41, 100, 0.25);
  padding: 50px;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  opacity: 0.8;
  margin: 10px;
  transition: all 0.5s;
}
#container #rows .row .box .text {
  position: aboslute;
  font-size: 40px;
  color: #272964;
  transition: all 0.5s;
}
#container #rows .row .box:hover {
  opacity: 1;
}
#container #rows .row .option {
  background-color: rgba(39, 41, 100, 0.5);
  width: 250px;
}
#container #rows .row .option .label {
  position: absolute;
  font-size: 0px;
  z-index: 0;
  opacity: 0;
  color: #dfe0f2;
  transition: all 0.5s;
}
#container #rows .row .option .text {
  position: aboslute;
  font-size: 20px;
  z-index: 1;
  color: #fae2b8;
}
#container #rows .row .option:hover {
  background-color: #424694;
  box-shadow: none;
}
#container #rows .row .option:hover .label {
  font-size: 120px;
  opacity: 0.5;
  color: #fae2b8;
  margin-top: -30px;
}
#container #rows .row .option:hover .text {
  font-size: 20px;
  margin-top: 110px;
  color: #dfe0f2;
}
#container #rows .row:hover {
  opacity: 1;
}
#container #rows .row:hover .box {
  margin: 20px;
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1024px) {
    #container #rows .row .box {
        padding: 10px;
        height: 40px;
        width: 150px;
    }
    
    #container #rows .row .box .text {
        font-size: 25px;
    }
    
    #container #rows .row .option .text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 640px) {
    #container #header {
        margin-top: 80px;
    }
}
